@import url(./star.css);

header {
    width: 100%;
    height: 70px;
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header_link .li1 {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: white;
            margin-left: 15px;
            font-size: 20px;
        }
    }

    .header_link .li2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 200px;

        a {
            color: white;
            margin-left: 15px;
            font-size: 20px;
        }
    }

    .header_link .li3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        line-height: 100%;

        a {
            color: white;
            margin-left: 15px;
            font-size: 20px;
        }
    }
}

main {
    .evarugs {
        margin-top: 30px;
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;

        .evarugs_coint {
            width: 85%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .evarugs_coint_left {
                width: 320px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 120px;
                }

                h1 {
                    font-size: 40px;
                    margin-bottom: 15px;
                    margin-left: 10px;
                }
            }

            .evarugs_coint_right {
                width: 350px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 24px;

                .evarugs_jac {
                    opacity: 50%;
                    margin-bottom: 15px;
                    cursor: pointer;
                }
            }
        }
    }

    .sc1 {
        width: 100%;
        height: 765px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../img/подложка\ 1.png');
        background-position: right;
        background-size: contain;
        background-position-x: 97%;
        background-position-y: 40%;
        background-repeat: no-repeat;

        .sc1_coint {
            width: 85%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .sc1_coint_left {
                width: 55%;
                display: flex;
                justify-content: start;
                align-items: center;

                .sc1_coint_left_center {
                    width: 100%;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: space-between;
                    margin-bottom: 150px;

                    .h2_sc1 {
                        font-size: 70px;
                    }

                    .p_sc1_left {
                        font-size: 40px;
                    }

                    button {
                        width: 250px;
                        height: 80px;
                        background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
                        border-radius: 10px;
                        color: white;
                        font-size: 30px;
                        cursor: pointer;
                    }
                }
            }

            .sc1_coint_right {
                display: flex;
                justify-content: end;
                align-items: center;
                z-index: -10;

                img {
                    width: 750px;
                }
            }
        }
    }

    .sc2 {
        width: 100%;
        height: 1000px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: start;
        background-image: url('../img/для\ фона.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 0 80%;

        .sc2_coint {
            width: 85%;
            height: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .sc2_coint_top {
                display: flex;
                width: 100%;
                height: 15%;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 65px;

                    span {
                        background: linear-gradient(to right, rgba(185, 1, 96, 1), rgba(61, 91, 245, 1));
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        background-clip: text;
                        color: transparent;
                    }
                }
            }

            .sc2_coint_bot {
                width: 100%;
                height: 85%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sc2_card {
                    width: 29%;
                    height: 100%;
                    margin-top: 200px;
                    border-radius: 20px;
                    background-color: white;
                    box-shadow: 0px 0px 40px 2px #B8005F33;

                    .sc2_card_top {
                        width: 100%;
                        height: 45%;
                        border-radius: 20px 20px 0px 0px;
                    }

                    .sc2_card_bot {
                        padding: 40px 35px 40px 35px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        height: 55%;

                        strong {
                            font-size: 50px;
                        }

                        p {
                            font-size: 23px;
                            line-height: 26px;
                            color: #767676;
                        }
                    }
                }
            }
        }
    }

    .sc3 {
        width: 100%;
        height: 500px;
        background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}

}
footer{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer_coint{
        width: 75%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;

        .footer_coint_left{
            width: 22%;
            height: 130px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;

            strong{
                font-size: 20px;
            }
        }
        .footer_coint_cent{
            width: 22%;
            height: 130px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            
            strong{
                font-size: 20px;
            }

            .footer_coint_cent_bot{
                width: 230px;
                height: 50px;

                .number1{
                    margin-bottom: 10px;
                    font-size: 18px;
                    color: #767676;
                }

                .number2{
                    font-size: 18px;
                    color: #767676;
                }
            }
        }
        .footer_coint_right{
            width: 21%;
            height: 130px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;

            strong{
                font-size: 22px;
                margin-bottom: 22px;
            }

            .firstP{
                font-size: 19px;
                color: #767676;
            }
            .secondP{
                font-size: 19px;
                color: #767676;
                margin-top: 15px;
            }
        }
    }
}